* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    background: url(../img/dark-wood.jpg) top center / cover no-repeat;
}

.top__header {
    width: 80%;
    padding: 50px 0;
    margin: 0 auto;
}

.top__header--center img {
    width: 100%;
    height: 150px;
}

.top__header--home {
    background: #ccc;
    margin-top: -4px;
}

.top__header--home-nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 6px 32px;
    font-size: 18px;
}

.top__header--home-nav ul li a {
    text-decoration: none;
    color: #FF0000;
}

.top__header--home-nav ul li a:hover {
    color: black;
}

.top__header--container {
    background: #fff;
}

.top__header--container-band {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
}

.item1 {
    width: 33.27137%;
}

.item1__two {
    border: 2px solid #F0F0F0;
    margin: 40px 24px;
}

.item1__two img {
    margin: 5px;
}

.item1__two p {
    margin: 6px 0 6px 6px;
}

.item2__two {
    padding: 60px 0 80px 0;
}

h1 {
    color: #505050;
    font-weight: 400;
    font-size: 28px;
}

.item2__two span {
    color: #F08080;
    font-size: 20px;
    line-height: 1.5;
}

.item2__two p {
    color: #505050;
    margin-top: 12px;
    line-height: 1.4;
}

.towtow {
    border-left: 2px solid #F0F0F0;
}

.item3__two {
    padding: 60px 30px 5px 20px;
}

.item2 {
    padding-left: 10px;
}

h2 {
    color: #F08080;
    font-weight: 400;
    font-size: 28px;
}

.item3__two li {
    color: #F08080;
    list-style: none;
    padding: 16px 0 16px 8px;
    border-bottom: 2px solid #F0F0F0;
}

.item3__two p {
    color: #505050;
    margin-top: 6px;
    line-height: 1.4;
}

.footer {
    background: #ccc;
}

.footer__container {
    padding: 10px 30px;
}

.footer__container p {
    color: #FF0000;
}